/* cabeçalho */

.cabecalho{
    background-color: white;
    height: 70px;
}

.menu__lista{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item{
    margin: 5px;
    padding:0.5em 6em;
    list-style: none;
    font-size: 20px;
    align-self: center;
    border: transparent 1px;
    white-space: nowrap;   
}

.menu__item:hover{
    border: solid 2px rgb(215, 215, 215);
}

.menu__item a{
    color: rgb(170, 170, 170);
    font-weight: 520;
}